<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Application process</title>
  </head>
  <body>
    <h1 id="top">Application process</h1>
    <section>
        <h2>Something wrong happened</h2>
        <p id="error">
            The {{ message }} you are looking for, not exist or not available.
        </p>
    </section>
    <footer>
      <nav>
        <a href="javascript:history.back()" title="Go back to the previous page"> Back </a> <a href="/" title="Go back to the links page"> Home </a>
      </nav>
      <p>Brought to you by Jeannie,<br>your friendly coffee and chocolate powered Codecool student</p>
    </footer>
  </body>
</html>